@import './vendor/normalize/normalize.scss';
@import './vendor/bootstrap/_bootstrap.scss';

@import '_theme';

body {
  background-color: $near-white;
  color: $near-black;
}

h1, h2, h3, h4, h5, h6 {
  color: $mid-grey;
}

div, nav, section, main {
  display: inline;
}
