@import './vendor/normalize/normalize.scss';
@import './vendor/bootstrap/_bootstrap.scss';

@import '_theme';

body {
  background-color: $near-white;
  color: $near-black;
}

h1, h2, h3, h4, h5, h6 {
  color: $mid-grey;
}

.app-homepage, .app-about, .app-portfolio {
  width: 75%;
  min-height: 80%;
  display: block;
  background-color: $mid-grey;
  padding: 10px;
  margin: 0.5em 0.5em auto 20%;
  overflow: hidden;
}
