@import './vendor/normalize/normalize.scss';
@import './vendor/bootstrap/_bootstrap.scss';
@import './vendor/font-awesome/scss/font-awesome.scss';

@import '_theme';

html, body {
  width: 100%;
  height: 100%;
  background-image: url('../../app/asset/img/bg-bw-lt.jpg');
  color: $near-black;
}

h1, h2, h3, h4, h5, h6 {
  color: $near-black;
}

.app-homepage,
.app-projects,
.app-skills,
.app-about,
.app-contact {
  width: 95%;
  height: 75%;
  display: block;
  background-color: $mid-grey-bg;
  padding: 10px;
  margin: auto;
  overflow: hidden;
}
