@import '../../scss/_theme';

.app-ham {

  position: fixed;
  padding: 1.5em;
  margin-left: 80%;
  margin-top: -6.5em;

  .fa-bars {
    position: absolute;
    z-index: 100;
    font-size: 3em;
  }

  ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, $near-white, $near-black);
    color: white;
    text-align: center;
    list-style-type: none;

    li {
      margin-top: 3em;
      font-size: 2em;
    }
  }
}

.ham-exit.ng-leave {
  animation: fade_animation 0.2s linear reverse;
  * {
    animation: fade_animation 0.2s linear reverse;
  }
}

.ham-exit.ng-enter {
  animation: fade_animation 0.2s linear;
  * {
    animation: fade_animation 0.2s linear;
  }
}

@keyframes fade_animation {
  from {
    right: 0;
  } to {
    right: -100px;
  }
}

@media (min-width: 768px) {
  .app-ham * {
    display: none;
  }
}
