<div class="app-ham">

  <i class="fa fa-bars" ng-click="appHamCtrl.showNav = !appHamCtrl.showNav">
  </i>
  <!-- <app-nav ng-if="appHamCtrl.showNav" class="ham-exit"><<app-nav> -->
  <ul ng-if="appHamCtrl.showNav"
  ng-click="!appHamCtrl.showNav"
  class="ham-exit">
    <li ng-click="selectPage({page: 'projects'})"> projects </li>
    <li ng-click="selectPage({page: 'skills'})"> skills </li>
    <li ng-click="selectPage({page: 'about'})"> about </li>
    <li ng-click="selectPage({page: 'contact'})"> contact </li>
  </ul>

</div>
