@import '../../scss/_theme';

.app-nav {
  min-width: 100%;
  // display: inline;
  position: fixed;
  margin-top: -2.5em;

  // background-color: $mid-grey-bg;
  // padding: 1.5em;
  // margin-left: 10px;

  ul {

    display: inline;
    margin-left: 23%;

    li {
      height: 3em;
      display: inline-block;
      list-style-type: none;
      border: 1px dotted $near-black;
      color: black;
    }
    .projects { width: 11%; }
    .skills { width: 9%; }
    .about { width: 11%; }
    .contact { width: 11%; }
  }

}
@media (max-width: 768px) {
  .app-nav {
    display: none;
  }
}
