@import '../../scss/_theme';

.app-nav {
  width: 100%;
  display: inline;
  position: fixed;
  background-color: $mid-grey-bg;
  padding: 10px;
  margin-left: 10px;

  ul li {
    list-style-type: none;
  }

}
