@import '../../scss/_theme';

.app-nav {
  // width: 80%;
  display: inline;
  position: fixed;
  margin-top: 2.5em;
  // background-color: $mid-grey-bg;
  // padding: 1.5em;
  // margin-left: 10px;

  ul {

    display: inline;

    li {
      display: inline;
      list-style-type: none;

      img {
        height: 2em;
      }

      .projects {
        height: 3em;
        margin-top: 0.5em;
      }
    }
  }

}
@media (max-width: 768px) {
  .app-nav {
    display: none;
  }
}
