<nav class="app-nav">

  <div class="container">

  <ul class="list-inline container">

    <li class="cddheader">
      <img title="cortney drummond"
      class="cdd"
      src="../../asset/img/menu/cdd.svg" />
    </li>

    <li ng-click="selectPage({page: 'projects'})">
      <img title="projects"
      class="projects"
      src="../../asset/img/menu/projects.svg" />
    </li>

    <li ng-click="selectPage({page: 'skills'})">
      <img title="skills"
      class="skills" src="../../asset/img/menu/skills.svg" />
    </li>

    <li ng-click="selectPage({page: 'about'})">
      <img title="about"
      class="about" src="../../asset/img/menu/about.svg" />
    </li>

    <li ng-click="selectPage({page: 'contact'})">
      <img title="contact"
      class="contact" src="../../asset/img/menu/contact.svg" />
    </li>

  </ul>
</div>
</nav>
