<nav class="container-fluid app-nav">

  <ul class="list-inline">
    <li ng-click="selectPage({page: 'projects'})"> <img title="projects" src="../../asset/img/menu/projects.svg" /> </li>
    <li ng-click="selectPage({page: 'skills'})"> <img title="skills" src="../../asset/img/menu/skills.svg" /> </li>
    <li ng-click="selectPage({page: 'about'})"> <img title="about" src="../../asset/img/menu/about.svg" /> </li>
    <li ng-click="selectPage({page: 'contact'})"> <img title="contact" src="../../asset/img/menu/contact.svg" /> </li>
  </ul>

</nav>
