<nav class="app-nav">

  <div class="container">

  <ul class="list-inline container">

    <li class="cddheader">
      <img title="cortney drummond"
      class="cdd"
      src="../../asset/img/menu/cdd.svg" />
    </li>

    <li ng-click="selectPage({page: 'projects'})" class="projects">
      projects
    </li>

    <li ng-click="selectPage({page: 'skills'})" class="skills">
      skills
    </li>

    <li ng-click="selectPage({page: 'about'})" class="about">
      about
    </li>

    <li ng-click="selectPage({page: 'contact'})" class="contact">
      contact
    </li>

  </ul>
</div>
</nav>
