.app-main {
  width: 100%;
  height: 100%;

  header {
    width: 100%;
    // height: 12%;
    padding-bottom: 0em;

    .cdd {
      min-width: 100%;
      max-width: 100%;
      height: 5.5em;
      margin-left: -1em;
    }

  }
}
