<div class="app-projects">

  <img class="pjt" src="../../asset/img/projects/shapesnstuff.png" />
  <p class="pjt">Shapesnstuff is a colorful, responsive art canvas that uses EaselJS for the canvas, CSS3 and jQuery for a vivid user experience, NodeJS and Express library for back-end operations, and AWS S3 to store and display user-saved artwork.</p>

  <img class="pjt restaurant" ng-click="AppProjectsController.showTheDeets()" src="../../asset/img/projects/restaurantfinder.png" />
  <p class="pjt">The Code Fellows Restaurant Finder helps fellow Code Fellows students find a place to eat near the school, be it for a quick lunch, a nice post-class dinner, or a morning coffee to start the long day. jQuery powers the interactive experience, along with Google's Maps and Restaurants API.
</div>
